@font-face{
	font-family: 'Oswald-LightItalic';
	src:url('../fonts/Oswald-Light.ttf');

}
@font-face{
	font-family: 'Oswald-BoldItalic';
	src:url('../fonts/Oswald-Bold.ttf');

}

body {
	

}
.left_bar {

	width: 200px;
	height: 100%;
	border-right: 2px solid;
	min-height: 950px;
	margin: 0 20px 0 0;
	display:inline-flex;
	z-index: 10;


}

.logo a{
	font-family: 'Oswald-BoldItalic', sans-serif;
	margin-left: 10px;
	font-size: 30;
	position: relative;
	top: 9px;
	float: left;

}

a:hover {
text-decoration: none;

}

nav {

	float: right;
	right: 1px;
	position: absolute;
	margin: 10px;
}

nav a{

	position: relative;
	text-decoration: none;
	font-size: 17px;
} 


nav a:hover {

	border-bottom: 2px solid ;
}

.wrapper {
	margin: 0 auto;
	top: 50px;
	position: relative;
	padding: 0 10px;	
	
	
}

.column {

	padding: 10px;
	border: 1px solid ;
	border-radius: 5px;
	z-index: -1;
}

.user_details {
	width: 250px;
	float: left;
	margin-bottom: 20px;
}

.user_details_left_right {

		width: 125px;
		display: inline-block;
		position: absolute;
}

.user_details img {
	height: 125px;
	border-radius: 5px;
	margin-right: 5px;
}

.main_column {

}

.post_form {

	width: 100%;
}

.post_form textarea {
	width: 80%;
	height: 60px;
	border-radius: 5px;
	margin-right: 5px;
	border: 1px solid;
	font-size: 12px;
	padding: 5px;
}

textarea:focus {
	outline: 0;
}

.post_form input[type="submit"] {
	width: 5%;
	height: 60px;
	border: none;
	border-radius: 10px;
	font-family: 'Oswald-BoldItalic', sans-serif;
	position: absolute;
	outline: 0;

}

.post_form input[type="submit"]:active {
	padding: 5px 4px 4px 5px ;
	}